@using Parcels.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping Calculator</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <h1>Your Shipping Information</h1>

    <h2>Shipping Cost: @Model.CostToShip()</h2>
    @{int[] myArr = Model.GetBoxDimensions();}
    <h2>Length: @myArr[0] inches</h2>
    <h2>Width: @myArr[1] inches</h2>
    <h2>Height: @myArr[2] inches</h2>
    <h2>Volume: @Model.Volume() in³</h2>
    <p>Thank you for using our shipping service.</p>
  </body> 
</html>